@charset "8UTF";

@import url('https://fonts.googleapis.com/css2? family= Belanosima & display=swap');

@font-face {
    font-family: 'Android';
    src: url('../fontes/idroid.otf') format('opentype')
    font-weight: normal;
}

/*Escala de cores
#062863
#1c4c96
#607ec9
#9ab4ff
#83f52c
*/

   
:root { 
    --cor1: #021330;
    --cor2: #2066cf;
    --cor3: #607ec9;
    --cor4: #9ab4ff;
    --cor5: #83f52c;

--fonte-padrao: Times, Arial, Calibri;
--fonte-destaque: 'Belanosima', cursivo;
--fonte-android:'Android', cursiva;
}

* {
    margin: 0;
    padding: 0;
}

body {
    background-color: var(--cor4);
    font-family: var(--fonte-destaque);
    color:#021330;
    font-size: 1.5em;
    text-indent: 30px;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 0px;
    margin-right: 20px;
    padding: 20px;
    line-height: 1.5em;
    text-align: left;
    min-height: 100vh;
    
    overflow-x: hidden;
}

header {
    background-color: var(--cor2);
    min-height: 150px;

    font-family: var(--fonte-destaque);
    text-align:center;
    padding-top: 40px;
    background-image:linear-gradient(to top, var(--cor3), var(--cor4));
    border-radius: 10px;
    min-height: 150px;
    
 
}

header > h1 {
 color: var(--cor1);
 font-family: var(--fonte-android);
 font-weight: center;
 font-size: 3.5em;
 margin-top: 20px;
 text-shadow: 2px 2px 0px white;
 line-height: 1em;
 
}

header > h2 {
    color: black;
    font-family: var(--fonte-android);
    font-size: 2em;
    margin-bottom: 20px;
    margin-top: 10px;
    text-shadow: 2px 2px 0px rgb(92, 90, 90);
    line-height: 1em;
    text-align:center;
    
   }

header > p {
color:rgb(51, 50, 50);
font-family: var(--fonte-padrao);
font-size: 1.2em;
margin: auto;
padding-left: 20px;
padding-right: 30px;
margin-bottom: 20px;
max-width: 500px;
text-shadow: 2px 2px 0px rgba(15, 15, 15, 0.144);

}

nav {
background-color: var(--cor3);
padding: 10px;
border-radius: 6px;
text-align: center;


}

nav > a {
color:#f3f3f5;
text-decoration: none;
text-align: center;
padding: 10px;
font-weight: bold;
border-radius: 10px;
transition-duration: 0.6s;


}

nav > a:hover {
background-color: #83f52c;
color:var(--cor1);
text-align: center;


}

main {
background-color: white;
min-width: 300px;
max-width: 1000px;
margin:auto;
padding: 20px;
margin-bottom: 40px;

box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.575);


}

article > h1 {
color: var(--cor1);
font-family: var(--fonte-android);
font-weight: bold;
font-size: 1.8em;
text-align: center;
background-image:linear-gradient(to bottom, var(--cor5), transparent);
border-radius: 10px;

}

main > h2 {
font-family: var(--fonte-android);
color:#021330;
font-weight: bold;
font-size: 1.3em;
background-image:linear-gradient(to bottom, var(--cor5), transparent);
border-radius: 10px;
text-indent: 8px;
text-align: center;
} 


article > h2 {
    font-family: var(--fonte-android);
    color:#021330;
    font-weight: bold;
    font-size: 1.3em;
    background-image:linear-gradient(to bottom, var(--cor5), transparent);
    border-radius: 10px;
    text-indent: 8px;
    text-align: center;
    } 
    

article > p, h4{
   
    margin-bottom: 20px;
    margin-top: 20;
    text-align: justify;
    text-indent: 30px;
    font-size: 1em;
    line-height: 2em;
    margin-left: 5%;
    margin-right: 5%;
   
    
}

main >strong {
    color: var(--cor1);
    font-weight: bold;

}


main img {
    width: 100%; 
 }
 
 main img.pequena {
     width: 350px;
     margin: auto;
     display: block;
 }

 div.video {
   
    position:relative;
    margin-bottom: 20px;
    margin-left: 20px;
    text-align: center;
    display: flex; 
    align-items: center; 
    justify-content: center;

 }

 #baixar {
    border-radius: 10px;
    color: var(--cor1);
    text-decoration:none;
    border-radius: 10px;
    font-weight: bold;
    text-align: center;
    background-image:linear-gradient(to top, var(--cor5), transparent);
    transition-duration: 0.6s;
    padding: 10px;

 }
 aside > ul, ol {
    list-style-position:outside;
    list-style-type:circle;
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 20px;
 }

 .lista {
    list-style-position: inside;
    text-align: left;
}



div.box {
    background-color: var(--cor3);
    padding: 10px;
    border-radius: 10px;
    box-shadow: 3px 3px 3px rgb(0, 0, 0);
    text-align: left;
    background-image:linear-gradient(to top, var(--cor5), transparent);
}
.btn {
    
    border-radius: 20px; 
    color: var(--cor1);
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 25px;
    cursor: pointer;
    background-image:linear-gradient(to top, var(--cor5), transparent);
  }

 
 .btn {


 }

 
  footer {
    
    color: var(--cor1);
    text-align: right;
    font-size: 0.8em;
    padding: 5px;
}

footer > a {
    color: var(--cor1);
    font-weight: bolder;
    text-decoration: none;
}

footer a:hover {
    text-decoration: none;
    color: var(--cor1);
}